<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

<script>
    //initDropZ();
    let url_upload2album = "/api/mediaupload/"; 
   $(document).ready(function(){
     $("#creaalbum").submit(function(ev){
        ev.preventDefault();
         //ev.stopPropagation();
         $.ajax({
           url: "/api/create",
           method: "POST",
           data: $("#creaalbum").serializeArray()
         }).done(function( msg ) {
              // alert( "Data Saved: " + msg.success );
               url_upload2album = url_upload2album + msg.id;
               $('.errormsg').html("");
               if (msg.success == 'warning') {
                 messaggio='<h3>'+msg.msg+'</h3>';
                 $('.errormsg').html(messaggio);
               }
                $(".addimg").removeClass("d-none");
                 $("#uploadFoto").addClass("dropzone");
       //dropzone needsclick
                initDropZ();
           });
       //alert("Submitted");
     });
   });
     
     //Dropzone.autoDiscover = false;
     function aggiungiImmagini(){
       alert("AGGIUNGI");
       $(".addimg").removeClass("d-none");
       $("#uploadFoto").addClass("dropzone");
       //dropzone needsclick
       initDropZ();
   
     }
     //Dropzone.autoDiscover = false;
     function initDropZ(){ 
     //Dropzone.autoDiscover = true;
     Dropzone.options.uploadFoto = { // The camelized version of the ID of the form element
   
     // The configuration we've talked about above
     url: url_upload2album,
     autoProcessQueue: false,
     uploadMultiple: true,
     parallelUploads: 100,
     maxFiles: 100,
     acceptedFiles: 'image/*,.mp4,.mkv,.avi,.mov',
     clickable: true,
     previewsContainer: '#previewimgs',
     addRemoveLinks: true,
     dictDefaultMessage: "Sposta qui le immagini o clicca per sceglierle" ,
   
     // The setting up of the dropzone
     init: function() {
       var myDropzone = this;
   
       // First change the button to actually tell Dropzone to process the queue.
       this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
         // Make sure that the form isn't actually being sent.
         e.preventDefault();
         e.stopPropagation();
         myDropzone.processQueue();
       });
   
       // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
       // of the sending event because uploadMultiple is set to true.
       this.on("sendingmultiple", function() {
           console.log("SEND");
         // Gets triggered when the form is actually being sent.
         // Hide the success button or the complete form.
       });
       this.on("successmultiple", function(files, response) {
         // Gets triggered when the files have successfully been sent.
         // Redirect user or notify of success.
       });
       this.on("errormultiple", function(files, response) {
            alert("ERROR");
         // Gets triggered when there was an error sending the files.
         // Maybe show form again, and notify user of error
       });
     }
    }
    $("form#uploadFoto").dropzone(Dropzone.options.uploadFoto);
   }

       </script>