<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

<script>
    
    let url_upload2album = "/api/upload"; 
    initDropZ();
   $(document).ready(function(){
    /*
     $("#creaalbum").submit(function(ev){
        ev.preventDefault();
         //ev.stopPropagation();
         $.ajax({
           url: "/api/create",
           method: "POST",
           data: $("#creaalbum").serializeArray()
         }).done(function( msg ) {
              // alert( "Data Saved: " + msg.success );
               url_upload2album = url_upload2album + msg.id;
               $('.errormsg').html("");
               if (msg.success == 'warning') {
                 messaggio='<h3>'+msg.msg+'</h3>';
                 $('.errormsg').html(messaggio);
               }
                $(".addimg").removeClass("d-none");
                 $("#uploadFoto").addClass("dropzone");
       //dropzone needsclick
                initDropZ();
           });
       //alert("Submitted");
     });
   */
    });
     
     //Dropzone.autoDiscover = false;
     function aggiungiImmagini(){
       alert("AGGIUNGI");
       $(".addimg").removeClass("d-none");
       $("#uploadFoto").addClass("dropzone");
       //dropzone needsclick
       initDropZ();
   
     }
     //Dropzone.autoDiscover = false;
     function initDropZ(){ 
     //Dropzone.autoDiscover = true;
     Dropzone.options.uploadFoto = { // The camelized version of the ID of the form element
   
     // The configuration we've talked about above
     url: url_upload2album,
     autoProcessQueue: false,
     uploadMultiple: true,
     parallelUploads: 100,
     maxFiles: 100,
     acceptedFiles: 'image/*',
     clickable: true,
     previewsContainer: '#previewimgs',
     addRemoveLinks: true,
     dictDefaultMessage: "Sposta qui le immagini o clicca per sceglierle" ,
   
     // The setting up of the dropzone
     init: function() {
       var myDropzone = this;
   
       // First change the button to actually tell Dropzone to process the queue.
       this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
         // Make sure that the form isn't actually being sent.
         e.preventDefault();
         e.stopPropagation();
         myDropzone.processQueue();
       });
   
       // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
       // of the sending event because uploadMultiple is set to true.
       this.on("sendingmultiple", function() {
           console.log("SEND");
         // Gets triggered when the form is actually being sent.
         // Hide the success button or the complete form.
       });
       this.on("successmultiple", function(files, response) {
         // Gets triggered when the files have successfully been sent.
         // Redirect user or notify of success.
       });
       this.on("errormultiple", function(files, response) {
            alert("ERROR");
         // Gets triggered when there was an error sending the files.
         // Maybe show form again, and notify user of error
       });
     }
    }
    $("form#uploadFoto").dropzone(Dropzone.options.uploadFoto);
   }
     /*
     var dropzone = new Dropzone('#uplodFoto', {
     previewTemplate: document.querySelector('#preview-template').innerHTML,
     parallelUploads: 2,
     thumbnailHeight: 120,
     thumbnailWidth: 120,
     maxFilesize: 3,
     filesizeBase: 1000,
     thumbnail: function(file, dataUrl) {
       if (file.previewElement) {
         file.previewElement.classList.remove("dz-file-preview");
         var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
         for (var i = 0; i < images.length; i++) {
           var thumbnailElement = images[i];
           thumbnailElement.alt = file.name;
           thumbnailElement.src = dataUrl;
         }
         setTimeout(function() { file.previewElement.classList.add("dz-image-preview"); }, 1);
       }
     }
   
   });
   
   
   // Now fake the file upload, since GitHub does not handle file uploads
   // and returns a 404
   
   var minSteps = 6,
       maxSteps = 60,
       timeBetweenSteps = 100,
       bytesPerStep = 100000;
   
   dropzone.uploadFiles = function(files) {
     var self = this;
   
     for (var i = 0; i < files.length; i++) {
   
       var file = files[i];
       totalSteps = Math.round(Math.min(maxSteps, Math.max(minSteps, file.size / bytesPerStep)));
   
       for (var step = 0; step < totalSteps; step++) {
         var duration = timeBetweenSteps * (step + 1);
         setTimeout(function(file, totalSteps, step) {
           return function() {
             file.upload = {
               progress: 100 * (step + 1) / totalSteps,
               total: file.size,
               bytesSent: (step + 1) * file.size / totalSteps
             };
   
             self.emit('uploadprogress', file, file.upload.progress, file.upload.bytesSent);
             if (file.upload.progress == 100) {
               file.status = Dropzone.SUCCESS;
               self.emit("success", file, 'success', null);
               self.emit("complete", file);
               self.processQueue();
               //document.getElementsByClassName("dz-success-mark").style.opacity = "1";
             }
           };
         }(file, totalSteps, step), duration);
       }
     }
   }
   */
       </script>